.wp-columns {
    display: grid;
}

/* Screen Larger than 546px - 2 Columns */
@media (min-width: 546px) {
    .wp-columns {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* Screen Larger than 782px 3 Columns */
@media (min-width: 782px) {
    .wp-columns {
        grid-template-columns: repeat(3, 1fr);
    }
}